/*** 
    Cookie view uses Bootstrap modal to display the view. As such, it uses some style overrides 
    that come from the Bootstrap css.
***/

@import "src/assets/stylesheets/fonts";
@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/globals";

.cookie-modal-backdrop {
    @extend .common-fixed-position-rules;

    z-index: map-get($map: $z-index, $key: cookieModalBackdrop);
    background-color: $color-primary;
    opacity: 0.7;
}

.cookie-modal {
    @extend .common-fixed-position-rules;

    z-index: map-get($map: $z-index, $key: cookieModal);
    background-color: $color-cookie-view-bg;
    
    height: 19rem;
    font-size: $cookie-view-font-size;
    margin: 12em 1em 0 1em;
    padding: 2rem;

    :global(.modal-content) {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        border: 0;
    }

    :global(.modal-header) {
        @extend .font-l;

        padding: 0;
        border-bottom: none;

        h2 {
            font-weight: normal;
            padding: 0;
            height: 2.5rem;
            line-height: 2.5rem;
        }

        :global(.close) {
            font-size: $cookie-close-button-font-size;
            font-weight: 200;
            opacity: 0.4;
            line-height: 2.5rem;
        }
    }

    :global(.modal-body) {
        padding: 0;
        margin-top: 1.5rem;
        letter-spacing: $cookie-body-letter-spacing;
    }

    :global(.modal-footer) {
        padding: 0;
        border-top: none;
        margin-top: 1.6rem;

        .footer-container {
            display: flex;
            justify-content: space-between;

            :global(.btn), .reject-text {
                @extend .font-s;

                width: 7.5rem;
                height: 3rem;
                border: none;
                border-radius: 0;
                font-weight: bold;
            }

            :global(.btn) {
                background-color: $color-white;
                box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.25);
            }

            .reject-text {
                padding: 0.6rem 1rem;
                text-align: left;
                text-decoration: underline;

                a {
                    color: $color-primary;
                    opacity: 0.8;
                }
            }
        }
    }
}
