@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/fonts";

.header {
    color: $color-white;
    position: fixed;

    h1 {
        margin-top: 4rem;
        margin-left: 2rem;
        letter-spacing: -0.03rem;
    }
}

.date {
    text-transform: uppercase;
    padding: 0.6rem 2rem;
    transition: all 1s ease-in;

    h4 {
        color: $color-white;
        font-weight: normal;
        letter-spacing: -0.03rem;
        transition: all 1s ease-in;
    }

    &.newsfeed-date {
        z-index: 400;
        background: #0042a5;
        height: 3.2rem;
        display: inline-block;
        position: sticky;
        top: 0;
        transition: all 1s ease-in;
    }

    // &.sticky {
    //     width: 100%;
    //     position: fixed;
    //     top: 0;
    //     transition: all 1s ease-in;
    // }
}
