@import "src/assets/stylesheets/variables";

$spinnerDim: 2rem;

.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
}
.spinner {
    display: none;
    &.active {
        margin: 0 auto;
        display: block;
        border: 0.2rem solid transparent;
        border-top: 0.2rem solid $color-accent;
        border-radius: 50%;
        width: $spinnerDim;
        height: $spinnerDim;
        animation: spin 1s linear infinite;
    }
}

.message {
    & h5 {
        font-family: $font-feed-cards;
        text-align: center;
        opacity: 1;
        font-weight: normal;
    }
}

@keyframes spin {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}