@import "src/assets/stylesheets/variables";

$color-news-feed-bg: rgba(237, 237, 237, 1);

.newsfeed {
    font-family: $font-feed-cards;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0 auto;
    background-image: url("../../../assets/images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 0; 
    padding-bottom: $navigation-height;

    & > h1 {
        color: #fff;
        margin-left: 2rem;
        margin-top: 4rem;
    }

    .container {
        height: 100%;
    }
}