@import "src/assets/stylesheets/variables";

$color-news-feed-bg: rgba(237, 237, 237, 1);

.newsfeed {
    font-family: $font-feed-cards;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0 auto;
    // background: $color-news-feed-bg;
    background-image: url("../../../assets/images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 1.5rem;
    // Padding bottom is set here so that the navigation bar doesn't hide the end of the news list
    padding-bottom: $navigation-height;

    .container {
        height: 100%;
    }
}
