@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/globals";

$navigation-z-index: 500;

.navigation {
    position: fixed;
    bottom: 0;
    padding: 0 1.5rem;
    display: flex;
    height: $navigation-height;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0 -0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #0042a5;
    background-color: #0042a5;
    z-index: $navigation-z-index;

    a {
        min-width: 7.5rem;
        display: inline-block;
        text-decoration: none;
        padding: 0.8rem 0 0 0;
        color: rgba(255, 255, 255, 0.5);
        border-top: 0.3rem solid rgba(0, 0, 0, 0.0);
        margin-top: -0.25rem;
        font-size:  1.2rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;

        &:global(.active) {
            border-top: 0.3rem solid white;
            color: rgba(255, 255, 255, 1.0);
        }
    }
}

@media only screen and (min-width: 600px) {
    .navigation {
        width: $app-width;
    }
}
