@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/globals";

.navigation {
    position: fixed;
    bottom: 0;
    display: flex;
    height: $navigation-height;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0 -0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #0042a5;
    background-color: #0042a5;

    a {
        display: inline-block;
        text-decoration: none;
        padding: 0.8rem 1rem 0 1rem;
        color: rgba(255, 255, 255, 0.5);
        border-top: 0.3rem solid rgba(0, 0, 0, 0.0);
        margin-top: -0.25rem;
        font-size:  1rem;
        font-weight: bold;
        text-transform: uppercase;

        &:global(.active) {
            border-top: 0.3rem solid white;
            color: rgba(255, 255, 255, 1.0);
        }
    }
}
