@import "src/assets/stylesheets/variables";

.backgrounds {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: map-get($map: $z-index, $key: background);
    // Placeholder image. Will change once backgrounds are available from server
    background-image: url("../../../assets/images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .random-facts {
        position: absolute;
        bottom: $navigation-height + 1rem;
        padding: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.4rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: -0.03rem;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
    }
}