// Fonts
$font-primary-ui: "GT-Walsheim";
$font-feed-cards: "OpenSans";

// Colors
$color-primary: rgba(74, 74, 74, 1);
$color-white: rgba(255, 255, 255, 1);
$color-active-link: rgba(60, 143, 222, 1);
$bg-color: #ededed;
$color-accent: #0042a5;
$app-width: 600px;


// Z-Indices
$z-index: (
    modal: 1050,
    overlay: 1040,
    background: -1,
    navigation: 1000,
);

// Container static heights
$navigation-height: 4.8rem;