.backgrounds {
    height: 92%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}