@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/fonts";

$content-source-font-size: 1.2rem;
$content-source-bg: rgba(0, 66, 165, 1);
$content-author-font-size: 1.2rem;

@mixin avatar_dim($size) {
    height: $size;
    width: $size;
}

.news-card {
    margin: 0.9rem 1.2rem;
    background: $color-white;
    position: relative;

    .source {
        position: absolute;
        right: 0.6rem;
        top: -0.6rem;
        padding: 0 1rem;
        background-color: $content-source-bg;
        color: $color-white;
        font-size: $content-source-font-size;
        height: 2rem;
        line-height: 2rem;
    }
  
    .content {
        height: 9.8rem;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        position: relative;

        .image {
            height: 9.8rem;
            width: 9.8rem;
            background-size: cover;
            overflow: hidden;
            flex-shrink: 0;
        }

        .title {
            margin: 1.8rem 1.2rem 0 1.2rem;
            width: calc(100% - 9.8rem); // 9.8rem is width of image
            word-break: break-word;
            & > span {
                font-size: $content-author-font-size;
                color: $color-primary;
            }
            & > div {
                font-size: 1.6rem;
                font-weight: 600;
                color: #4a4a4a;
            }
        }
    }

    .description {
        padding: 1.2rem;
        :global(.LinesEllipsis) {
            line-height: 1.21;
            font-size: 1.4rem;
            color: #4a4a4a;
            margin: 0;
        }

        :global(.LinesEllipsis-ellipsis) {
            color: rgba(74, 74, 74, 0.5);
        }
    }
  
    .footer {
        padding: 0 1.2rem 1.2rem 1.2rem;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: space-between;

        h5 {
            font-family: inherit;
            opacity: 0.5;
            font-weight: normal;
        }
    }
}