@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/fonts";

$content-source-font-size: 1.2rem;
$content-source-bg: rgba(0, 66, 165, 1);
$content-author-font-size: 1.2rem;
$twitter-source-bg: #007b5f;
$instagram-source-bg: #450099;
$facebook-source-bg: #ba0d2e;
$youtube-source-bg: #ba0d2e;
$events-source-bg: #db3db0;

@mixin avatar_dim($size) {
    height: $size;
    width: $size;
    border-radius: 50%;
}

.social-media-card {
    margin: 0.9rem 1.2rem;
    background: $color-white;
    display: flex;
    position: relative;
    line-height: 1.7rem;
    z-index: 300;

    .service-source {
        position: absolute;
        right: 0.6rem;
        top: -0.6rem;
        padding: 0 1rem;
        color: $color-white;
        font-size: $content-source-font-size;
        height: 2rem;
        line-height: 2rem;
        z-index: 1;
    }
  
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 100%;

        .content-source {
            display: flex;
            position: relative;
            margin: 1.2rem 1.2rem 0.6rem 1.2rem;

            div {
                margin: auto 0 auto 0.8rem;
                margin-left: 0.8rem;
                font-weight: bold;
                font-size: 1.6rem;
            }
        }

        .image {
            margin: 0.6rem 0;
            img {
                width: 100%;
            }
        }
        
        .description {
            font-size: 1.4rem;
            margin: 0.6rem 1.2rem;

            .likes {
                margin-bottom: 1.2rem;
            }

            .likes, b {
                font-weight: bold;
            }

            :global(.LinesEllipsis) {
                line-height: 1.21;
                font-size: 1.4rem;
                color: #4a4a4a;
                margin: 0;
            }
    
            :global(.LinesEllipsis-ellipsis) {
                color: rgba(74, 74, 74, 0.5);
            }

        }

        .footer {
            bottom: 0;
            right: 0;
            margin: 0.6rem 1.2rem 1.2rem 1.2rem;
            display: flex;
            justify-content: space-between;
    
            h5 {
                opacity: 0.5;
                font-weight: normal;
            }
        }
    }

    &.twitter {
        .service-source {
            background-color: $twitter-source-bg;
        }

        .content-source {
            img {
                @include avatar_dim(5.7rem);
            }

            .twitter-handle {
                font-size: 1.4rem;
                font-weight: 300;
                letter-spacing: -0.05rem;
            }
        }
    }
    
    &.facebook {
        .service-source {
            background-color: $facebook-source-bg;
        }

        .content-source img {
            @include avatar_dim(3.2rem);
        }
    }

    &.instagram {
        .service-source {
            background-color: $instagram-source-bg;
        }

        .content-source img {
            @include avatar_dim(2.3rem);
        }
    } 

    &.youtube {
        .service-source {
            background-color: $youtube-source-bg;
        }

        .content-source img {
            @include avatar_dim(2.3rem);
        }

        .description {
            font-weight: 600;
        }
    }  

    &.events {
        .service-source {
            background-color: $youtube-source-bg;
        }

        .content {
            .image {
                margin: 0;
                img {
                    width: 100%;
                }
            }

            .description {
                margin: 1.2rem;

                .title {
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    font-weight: bold;

                    a {
                        color: #4a4a4a;
                    }
                }

                .event-time {
                    font-size: 1.4rem;
                    margin-top: 1.2rem;
                    text-transform: uppercase;
                }
            }
        }
    } 
}