@import "src/assets/stylesheets/fonts";
@import "src/assets/stylesheets/variables";

$color-navigation-icon: rgba(151, 151, 151, 1);

.navigation-icon {
    text-align: center;
    color: $color-navigation-icon;
    text-decoration: none;

    :global(.active) & {
        color: $color-active-link;
    }

    .navigation-icon-text {
        @extend .font-s;

        font-weight: bold;
    }
}
